body {
	font-family: var(--primary-font);
	line-height: var(--text-body-line-height);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: var(--secondary-color);
	font-weight: bold;
	text-decoration: none;
}
img,
video {
	width: 100%;
	height: auto;
}
li {
	margin-right: 1rem;
	list-style: none;
}
h1 {
	color: var(--primary-color);
	line-height: var(--text-title-line-height);
}
.mag-icon {
	width: 15px;
	height: auto;
}
