@use "partials/abstracts/mixins";

.container-footer {
	@include respond(tablet) {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}
footer {
	background: var(--bg-footer);
	color: var(--base-color-lightest);
	padding: 1rem;
	@include respond(tablet) {
		padding: 5rem;
	}
}
footer .img-icon {
	width: 50px;
	grid-column: 2;
	margin: 2rem 1rem;
}
footer a {
	font-weight: lighter;
	color: var(--base-color-lightest);
}
.footer-links {
	@include respond(tablet) {
		grid-column: 4 / 10;
		grid-row: 2;
	}
}
.footer-text {
	grid-column: 9 / 12;
	text-align: left;
	margin: 2rem 0;
	@include respond(tablet) {
		text-align: right;
	}
}
.footer-links ul {
	@include respond(tablet) {
		display: flex;
		justify-content: space-around;
	}
}
