@use "partials/abstracts/mixins";

.container-footer {
	@include respond(tablet) {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
}
footer {
	padding: var(--padding);
	background: var(--bg-footer);
	color: var(--base-color-lightest);
}
footer .img-icon {
	width: 50px;
}
footer a {
	font-weight: lighter;
	color: var(--base-color-lightest);
}
.footer-links {
	@include respond(tablet) {
		grid-column: 4 / 10;
	}
}
.footer-links ul {
	@include respond(tablet) {
		display: flex;
		justify-content: space-around;
	}
}
