/* page wrapper */
.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* gap: 1rem; */
}
.wrapper > * {
	grid-column: 1 / span 12;
}
.container-bg {
	background-color: var(--bg-container);
}
.container-hero,
.container-hero-main {
	display: flex;
	flex-direction: column;
	height: 400px;
	align-items: center;
	justify-content: center;
}
.container-img {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container-inner {
	padding: 0 var(--padding);
}
.container-hero:first-of-type {
	background: var(--bg-hero);
	color: var(--base-color-lightest);
}
.container-logo {
	padding: 1rem;
}
.container-references {
	display: flex;
	padding: 1rem;
	align-items: center;
	gap: 1rem;
}
.container-video {
	display: flex;
	flex-direction: column;
}
.container-video > .container-inner {
	order: 1;
}
.container-hero img {
	height: 100%;
	width: auto;
}

@media (min-width: 600px) {
	.container-header {
		grid-column: 2 / 12;
		display: grid;
		/* justify-content: space-between;
		align-items: center; */
	}
	.form-search {
		grid-column: 7 / 9;
	}
	.container-logo {
		grid-column: 1 / 2;
	}
	nav {
		display: flex;
		justify-content: space-between;
		height: 4rem;
		align-items: center;
	}
	.nav-main {
		display: flex;
		margin-right: 10rem;
	}
	.nav-main li {
		margin-left: 20px;
	}
	.nav-toggle {
		display: none;
	}
	.container-hero-main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column: 1 / 13;
		background-color: var(--bg-hero);
		color: var(--base-color-lightest);
		height: 400px;
		background-image: url("/static/img/hero-image.jpg");
		background-position: center;
		background-size: cover;
		position: relative;
	}
	.hero-text {
		grid-column: 2 / 8;
	}
	.container-hero {
		grid-column: 1 / 13;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.logo-hero {
		width: 100px;
		height: auto;
	}
	.title {
		padding: 0;
		margin-top: 1rem;
	}
	.container-benefits {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap);
	}
	.container-video {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-tools {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-video-cards {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-references {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--gap);
	}
	.container-footer {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	.footer-links {
		grid-column: 4 / 10;
	}
	.footer-links ul {
		display: flex;
		justify-content: space-around;
	}
}
