:root {
	--primary-color: #00609c;
	--secondary-color: #c017a2;
	--tertiary-color: #e6e7e8;
	--base-color-lightest: #fff;
	--base-color-darkest: #111;
	--border: 2rem;
	--gap: 2rem;
	--margin: 1rem;
	--margin-button: 1rem 0;
	--padding: 1rem;
	--padding-button: 1rem 2rem;
	--padding-container: 2rem 0;
	--bg-container: #eee;
	--bg-footer: var(--primary-color);
	--bg-button: var(--secondary-color);
	--bg-hero: #05172b;
	--text-button: #fff;
	--text-button-weight: bold;
	--text-footer-color: var(--base-color-lightest);
	--text-title-weight: bold;
	--text-title-line-height: 2rem;
	--text-body-line-height: 1.5rem;
	--primary-font: "helvetica", sans-serif;
	--secondary-font: "times", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--secondary-color);
	font-weight: bold;
	text-decoration: none;
}

img,
video {
	width: 100%;
	height: auto;
}

.img-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.img-icon > img {
	width: 200px;
}

body {
	font-family: var(--primary-font);
	line-height: var(--text-body-line-height);
}

li {
	margin-right: 1rem;
	list-style: none;
}

h1 {
	color: var(--primary-color);
	line-height: var(--text-title-line-height);
}

button {
	border: none;
	padding: var(--padding-button);
	background: var(--bg-button);
	color: var(--text-button);
	font-weight: var(--text-button-weight);
	border-radius: var(--border);
	margin: var(--margin-button);
}

section {
	/* margin: var(--margin) 0; */
	padding: var(--padding-container);
}

/* article > p {
	padding: var(--padding);
} */

.title {
	color: var(--text-title);
	font-size: 1.5rem;
	font-weight: var(--text-title-weight);
	line-height: var(--text-title-line-height);
}

.card {
	background-color: var(--bg-container);
	padding: var(--padding);
	margin: var(--margin);
}

/* nav ul {
	display: flex;
	justify-content: flex-start;
} */

.container-bg {
	background-color: var(--bg-container);
}

.container-img {
	width: 100%;
	height: auto;
}

.container-logo {
	padding: 1rem;
}

.container-inner {
	padding: 0 var(--padding);
}

.container-hero {
	display: flex;
	flex-direction: column;
	height: 400px;
	align-items: center;
	justify-content: center;
}

.container-hero:first-of-type {
	background: var(--bg-hero);
}

.container-video {
	display: flex;
	flex-direction: column;
}

.container-video > .container-inner {
	order: 1;
}

/* .container-hero img {
	height: 100%;
	width: auto;
} */

footer {
	background: var(--bg-footer);
	color: var(--base-color-lightest);
}

/* page wrapper */
.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* gap: 1rem; */
}

.wrapper > * {
	grid-column: 1 / span 12;
}

.container-header {
	grid-column: 1 / 12;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 600px) {
	.container-hero {
		grid-column: 1 / 13;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.container-benefits {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap);
	}
	.container-video {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-tools {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-video-cards {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap);
	}
	.container-references {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--gap);
	}
	.container-header {
		grid-column: 2 / 12;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.container-footer {
		grid-column: 2 / 12;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	.footer-links {
		grid-column: 4 / 10;
	}
	.footer-links ul {
		display: flex;
		justify-content: space-around;
	}
}
