:root {
	--primary-color: #00609c;
	--secondary-color: #c017a2;
	--tertiary-color: #e6e7e8;
	--border: 2rem;
	--padding: 1rem;
	--padding-button: 1rem 2rem;
	--bg-container: #eee;
	--bg-button: var(--secondary-color);
	--text-button: #fff;
	--text-button-weight: bold;
	--text-title: #111;
	--text-title-weight: bold;
	--text-title-line-height: 2rem;
	--text-body-line-height: 1.5rem;
	--primary-font: "helvetica", sans-serif;
	--secondary-font: "times", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--secondary-color);
	font-weight: bold;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-family: var(--primary-font);
	line-height: var(--text-body-line-height);
}

li {
	margin-right: 1rem;
	list-style: none;
}

h1 {
	color: var(--primary-color);
}

button {
	border: none;
	padding: var(--padding-button);
	background: var(--bg-button);
	color: var(--text-button);
	font-weight: var(--text-button-weight);
	border-radius: var(--border);
}

.title {
	color: var(--text-title);
	font-size: 1.5rem;
	font-weight: var(--text-title-weight);
	line-height: var(--text-title-line-height);
}

/* nav ul {
	display: flex;
	justify-content: flex-start;
} */

/* page wrapper */
#wrapper {
	display: grid;
	margin: 0 1rem;
}

.container-bg {
	background-color: var(--bg-container);
}
/* #container_hero {
	display: flex;
	flex-direction: column;
} */

/* .container {
	display: flex;
} */

/* .container h1 {
	position: absolute;
} */
