:root {
  --primary-color: #00609c;
  --secondary-color: #c017a2;
  --tertiary-color: #e6e7e8;
  --base-color-lightest: #fff;
  --base-color-darkest: #111;
  --border: 2rem;
  --border-color: #d8d8d8;
  --gap: 2rem;
  --margin: 1rem;
  --margin-button: 1rem 0;
  --padding: 1rem;
  --padding-button: 1rem 2rem;
  --padding-container: 2rem 0;
  --bg-container: #eee;
  --bg-footer: var(--primary-color);
  --bg-button: var(--secondary-color);
  --bg-hero: #05172b;
  --box-shadow: 1rem 1rem 0 0.1rem;
  --text-button: #fff;
  --text-button-weight: bold;
  --text-footer-color: var(--base-color-lightest);
  --text-title-weight: bold;
  --text-title-line-height: 2rem;
  --text-body-line-height: 1.5rem;
  --primary-font: "helvetica", sans-serif;
  --secondary-font: "times", sans-serif; }

body {
  font-family: var(--primary-font);
  line-height: var(--text-body-line-height); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none; }

img,
video {
  width: 100%;
  height: auto; }

li {
  margin-right: 1rem;
  list-style: none; }

h1 {
  color: var(--primary-color);
  line-height: var(--text-title-line-height); }

.mag-icon {
  width: 15px;
  height: auto; }

@use "partials/abstracts/mixins";
.title {
  color: var(--text-title);
  font-size: 1.5rem;
  font-weight: var(--text-title-weight);
  line-height: var(--text-title-line-height); }
  @media only screen and (min-width: 600px) {
    .title {
      padding: 0;
      margin-top: 1rem; } }

button {
  border: none;
  padding: var(--padding-button);
  background: var(--bg-button);
  color: var(--text-button);
  font-weight: var(--text-button-weight);
  border-radius: var(--border);
  margin: var(--margin-button); }

.card {
  background-color: var(--bg-container);
  padding: var(--padding);
  margin: var(--margin); }

@use "partials/abstracts/mixins";
.btn-submit {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 40px;
  height: 2rem;
  border: 0.15rem solid var(--border-color);
  border-left: none;
  text-align: center;
  color: var(--primary-color);
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  align-items: center; }

.form-search {
  width: 50%;
  position: relative;
  align-items: center;
  display: none; }
  @media only screen and (min-width: 600px) {
    .form-search {
      grid-column: 5 / 9;
      display: flex; } }

.form-search label {
  display: none; }

input {
  width: 100%;
  border: 0.15rem solid var(--border-color);
  border-right: none;
  padding: 1rem;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  outline: none;
  color: #9dbfaf; }

@use "partials/abstracts/mixins";
@media only screen and (min-width: 600px) {
  .container-footer {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr); } }

footer {
  padding: var(--padding);
  background: var(--bg-footer);
  color: var(--base-color-lightest); }

footer .img-icon {
  width: 50px; }

footer a {
  font-weight: lighter;
  color: var(--base-color-lightest); }

@media only screen and (min-width: 600px) {
  .footer-links {
    grid-column: 4 / 10; } }

@media only screen and (min-width: 600px) {
  .footer-links ul {
    display: flex;
    justify-content: space-around; } }

@use "partials/abstracts/mixins";
.container-header {
  grid-column: 1 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 600px) {
    .container-header {
      grid-column: 2 / 12;
      display: grid; } }

@use "partials/abstracts/mixins";
/* page wrapper */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* gap: 1rem; */ }

.wrapper > * {
  grid-column: 1 / span 12; }

@media only screen and (min-width: 600px) {
  .container-benefits {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap); } }

.img-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.img-icon > img {
  width: 200px; }

.container-bg {
  background-color: var(--bg-container); }

.container-hero {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 600px) {
    .container-hero {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  .container-hero:first-of-type {
    background: var(--bg-hero);
    color: var(--base-color-lightest); }

.container-hero img {
  height: 100%;
  width: auto; }

.container-hero-main {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-hero);
  color: var(--base-color-lightest);
  background-image: url("/static/img/hero-image.jpg");
  background-position: right;
  background-size: cover;
  position: relative; }
  @media only screen and (min-width: 600px) {
    .container-hero-main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column: 1 / 13; } }

.container-img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.container-logo {
  padding: 1rem; }
  @media only screen and (min-width: 600px) {
    .container-logo {
      grid-column: 1 / 2; } }

@media only screen and (min-width: 600px) {
  .hero-text {
    grid-column: 2 / 8; } }

.logo-hero {
  width: 100px;
  height: auto;
  margin: 0 1rem; }

.container-inner {
  padding: 2rem var(--padding); }

.container-references {
  margin: var(--margin) 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem; }
  @media only screen and (min-width: 600px) {
    .container-references {
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: var(--gap); } }

.container-tools {
  margin: var(--margin) 0; }
  @media only screen and (min-width: 600px) {
    .container-tools {
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap); } }

.container-video {
  margin: var(--margin) 0;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 600px) {
    .container-video {
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap); } }

.container-video > .container-inner {
  order: 1; }
  @media only screen and (min-width: 600px) {
    .container-video > .container-inner {
      order: -1; } }

@media only screen and (min-width: 600px) {
  .container-video-cards {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap); } }

@use "partials/abstracts/mixins";
nav {
  background: var(--bg-container); }
  @media only screen and (min-width: 600px) {
    nav {
      display: flex;
      justify-content: space-between;
      height: 4rem;
      align-items: center; } }

.nav-main {
  text-align: center;
  margin: var(--margin);
  display: none; }
  @media only screen and (min-width: 600px) {
    .nav-main {
      display: flex;
      margin-right: 10rem; } }
  @media only screen and (min-width: 600px) {
    .nav-main li {
      margin-left: 20px; } }

.nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 20px; }
  @media only screen and (min-width: 600px) {
    .nav-toggle {
      display: none; } }

.hamburger {
  width: 40px;
  height: 6px;
  margin: 7px;
  background-color: var(--primary-color); }

.nav-link {
  font-weight: normal;
  color: var(--base-color-darkest); }
  .nav-link:hover {
    color: var(--secondary-color); }

.active {
  display: block; }

/*# sourceMappingURL=main2.css.map */
