:root {
	--primary-color: #00609c;
	--secondary-color: #c017a2;
	--tertiary-color: #e6e7e8;
	--primary-font: "courier", sans-serif;
	--secondary-font: "arial", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--secondary-color);
	font-weight: bold;
	text-decoration: none;
}

body {
	font-family: var(--primary-font);
}

nav ul {
	display: flex;
	justify-content: flex-start;
}

li {
	margin-right: 1rem;
	list-style: none;
}
